@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap');
*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.App {
	max-width: 1200px;
	width: 100%;
	min-height: 100vh;
	box-shadow: 0 0 20px #eee;
	margin: 0 auto;
	overflow: hidden;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
}

/* Header */

@import url('./components/Header/header.css');

/* Login */
@import url('./components/Body/auth/auth.css');

/* Profile */
@import url('./components/Body/profile/profile.css');
