.navbarContainer{
    height: 80px;
    padding: 0.5rem calc((100vw - 1300px)/2);
    color: var(--gray);
    font-size: 16px;
 }
 
 .navbarWrapper{
     height:100%;
     max-width: 1300px;
     display:flex;
     justify-content:space-between;
     align-items:center;
 }
 
 .navbarWrapper ul{
     list-style: none;
     display: flex;
 }
 
 .navbarWrapper ul li{
     padding:0.5rem  1rem;
     transition: all 0.1s linear;
 }
 .navbarWrapper ul li:hover{
     color:var(--primary);
 }
 
 .navbarWrapper ul li.active{
     color:var(--letter);
     font-weight: 500;
 }
 .navbarWrapper ul:nth-child(2){
     margin-left: 1.5rem;
 }
 .navbarWrapper ul:nth-child(2) li{
     margin: 0.3rem 1rem;
 }
 
 .navbarWrapper ul:nth-child(3) li{
     margin: 0.3rem 0.2rem;
 }
 
 .navbarWrapper ul:nth-child(3) li:nth-child(2){
     background-color: #304659;
     color: #FFFF;
     font-weight: 600;
     border-radius: 0.5rem;
 }