:root{
  --primary: #A9F8FB;
  --secondary: #FBD76D;
  --gray:#525252;
  --white:#FFFF;
  --shadow:-2px 0 10px 0 rgba(0, 0, 0, 0.11);
  --letter:#525252;
  --letterSecondary:#d8d9da;
  --danger:#EF4444;
  --warning: #FCD34D;
  --success: #34D399;
  --info:#3B82F6;
  --icon:#454545;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:var(--primary);
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.buttonDisabledPrimary:disabled:hover{
  background-color: var(--primary) !important;
}
.buttonDisabledSecondary:disabled:hover{
  background-color: var(--secondary) !important;
}

.generalWrapper{
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

@media only screen and (max-width: 300px) {
  .generalWrapper {
    padding: 0;
  }
}

.flexCenterCustom{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiperSlideOne{
  width:100%;
  /* padding: 0 20px !important; */
}
.mySwiperSlideOne .swiper-container{
  width: 100%;
  height: 100%;
}
.mySwiperSlideOne .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: transparent;
  height: 500px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperSlideOne .swiper-button-next, .mySwiperSlideOne .swiper-button-prev {
  color: var(--letter);
  background-color: #fff;
  border: 1px solid white;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.4) ;
  border-radius: 50%;
  padding: 1.3rem;
}
.mySwiperSlideOne .swiper-button-next::after, .mySwiperSlideOne .swiper-button-prev::after{
  font-size: 1rem;
}

.mySwiperSlideOne .swiper-button-next{
  right: 0px;
}
.mySwiperSlideOne .swiper-button-prev{
  left: 0px;
}

.mySwiperSlideTwo .swiper-container{
  width: 100%;
  height: 100%;
}
.mySwiperSlideTwo .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: transparent;
  height: 500px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperSlideTwo .swiper-button-next, .mySwiperSlideTwo .swiper-button-prev {
  color: var(--letter);
  background-color: #fff;
  border: 1px solid white;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.4) ;
  border-radius: 50%;
  padding: 1.3rem;
}
.mySwiperSlideTwo .swiper-button-next::after, .mySwiperSlideTwo .swiper-button-prev::after{
  font-size: 1rem;
}

.mySwiperSlideTwo .swiper-button-next{
  right: 0px;
}
.mySwiperSlideTwo .swiper-button-prev{
  left: 0px;
}

.mx2{
  margin:0 10px;
}

