:root{
  --primary: #E8B587;
  --secondary: #FBD76D;
  --gray:#525252;
  --white:#FFFF;
  --shadow:-2px 0 10px 0 rgba(0, 0, 0, 0.11);
  --letter:#525252;
  --letterSecondary:#d8d9da;
  --danger:#EF4444;
  --warning: #FCD34D;
  --success: #34D399;
  --info:#3B82F6;
  --icon:#454545;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:var(--primary);
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.buttonDisabledPrimary:disabled:hover{
  background-color: var(--primary) !important;
}
.buttonDisabledSecondary:disabled:hover{
  background-color: var(--secondary) !important;
}

.generalWrapper{
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

@media only screen and (max-width: 300px) {
  .generalWrapper {
    padding: 0;
  }
}

.flexCenterCustom{
  display: flex;
  align-items: center;
  justify-content: center;
}
